[user]
	name = Alexander Kitaev
	email = alexander.kitaev@tmatesoft.com
[push]
	default = simple
[credential]
	helper = cache --timeout 28800
[http]
	postBuffer = 524288000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
